<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<h1 class="center white-text">Digital Rolodex!</h1>
<h2 class="center white-text">Have trouble keeping track of your contacts? Come on in!</h2>
<h5 class="center white-text">*Newly added feature helps you keep track of the pups in your life*</h5>
<%= render 'layouts/navbar' %>
<%= yield %>
<hr>
