<div class="center">
  <h5 class="teal-text nav_btn"><%= button_to 'People', people_path, :method => "get" %></h5>
  <h5 class="teal-text nav_btn"><%= button_to 'About', root_path, :method => "get" %></h5>
  <h5 class="teal-text nav_btn"><%= button_to 'Dogs', dogs_path, :method => "get" %></h5>
</div>
